.error {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2rem;
    height: 500px;
}

.error__img {
    background-image: url('./pngwing.com.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 50%;
    width: 90%;
}

.error__title {
    text-align: center;
    padding: 0 2.5rem;
}